<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
				 xmlns:xi="http://www.w3.org/2003/XInclude" id="WebApp_ID" version="2.5">
	<display-name>tagomatic</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!--  Error management -->
	<filter>
		<filter-name>XSLRenderer</filter-name>
		<filter-class>com.lab109.portal.render.XSLRenderer</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>XSLRenderer</filter-name>
		<url-pattern>/errors/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/errors/error404</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/errors/error401</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errors/error500</location>
	</error-page>

	<!-- [config] -->
	<context-param>
		<param-name>com.109lab.portal.static.location</param-name>
		<param-value>http://static.dev.109experience.com</param-value>
	</context-param>
	<context-param>
		<param-name>com.109lab.portal.resource.location</param-name>
		<param-value>http://resource.dev.109experience.com</param-value>
	</context-param>
	<context-param>
		<param-name>com.109lab.portal.render.dir</param-name>
		<param-value>renderers</param-value>
	</context-param>
	<!-- [/config] -->

	<!-- Listners -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!--
	***************************************************************************************
	***************************************************************************************
	-->
	<filter>
		<filter-name>action-filter</filter-name>
		<filter-class>com.lab109.api.ApiActionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>xsl-filter</filter-name>
		<filter-class>com.lab109.api.XSLWrapper</filter-class>
	</filter>
	<servlet>
		<servlet-name>camel-manager</servlet-name>
		<servlet-class>com.lab109.api.CamelManager</servlet-class>
	</servlet>

	<filter-mapping>
		<filter-name>action-filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xsl-filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<servlet-mapping>
		<servlet-name>camel-manager</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
